*{
	box-sizing: border-box;
}
html, body {
 	width: 100%;
	margin: 0;
	padding: 0;
}

.box {

	background-color: gray;
	border: 1px solid black;
	font-family: sans-serif;
	margin: 10px;
	position: relative;	
	padding: 5px;
	text-align: justify;
}

.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}




@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
	}
	.col-lg-4 {
		width: 33.33%;
	}

}


@media (min-width: 768px) and (max-width: 991px) {
	
	.col-md-6, .col-md-12 {
		float: left;	
	}

	.col-md-12 {
		width: 100%;
	}
	.col-md-6 {
		width: 50%;
	}

}

@media screen and (max-width:  767px){
	.col-sm-12 {	
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
}


p.tipo {

	position: absolute;
	top: -18px;
	right: 0px;
	width: 30%;
	border: 1px solid black;
	text-align: center	;
	box-sizing: border-box;

}



.tipo.android {
	background-color: hotpink;
}

.tipo.web {
	background-color: red;
	color: white;
}		

.tipo.java {
	background-color: yellow;
}
